<h1>OAuth2 Sample App</h1>
<div class="col-md-12">
    <div calss="row">
        <div class="col-md-6">
            <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
            {.{#userName}.}
            Logged in as: <span id="user"></span>
            <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            {.{/userName}.}

            {.{^userName}.}
            <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google</a>
            {.{/userName}.}
        </div>
    </div>
</div>
<br>